/* 공통스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'locus_sangsang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/locus_sangsang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.gra_circle {
  position: absolute;
  /* z-index: -1; */
  top: -90%;
  right: -30%;
  border-radius: 50%;
  width: 160rem;
  height: 160rem;
  background: linear-gradient(to left bottom, #f8c8e0, #f8f8f8);

}
p, li {
  font-size: 1.8rem;
  color: #353535;
  letter-spacing: 0.5px;
  
}
li {
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none;
}
b { color: #252525;}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}
.en {
/* 영문 폰트 */
font-family: 'Hammersmith One', sans-serif;
}
section {
  width: 100%;
  position: relative;
  overflow: hidden;
}
@font-face {
  font-family: 'Recipekorea';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.title {
  font-weight: 400;
  /* font-family: 'Recipekorea'; */
  letter-spacing: 0.3rem;
  line-height: 1.7;

}
.btn_top {
  display: none;
  text-align: center;
  position: fixed;
  z-index: 1;
  bottom: 4rem;
  right: 4rem;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  font-size: 2rem;
  /* font-weight: bold; */
  color: #c9c9c9;
  border-radius: 30%;
  border: 2px solid #c9c9c9;
  transition: .2s;
}
.btn_top:hover {
  background: #c9c9c9;
  color: #fff;
 }
.btn_top.show {
  display: block;
}

section#main {
  height: 100vh;
  background-image: linear-gradient(to top left, #e1c6ee 0%, #e8f7e6 100%);
  background-attachment: fixed;
}

header {
  height: 60px;
  position: relative;
}
header > .header_title {
  /* outline: 1px solid blue; */
  color: #858585;
  text-align: left;
  font-size: 2.2rem;
  padding: 1.6rem 0;
  padding-left: 2rem;
  letter-spacing: 0.3rem;
  font-weight: 300;
}

header ul {
  position: absolute;
  top: 1.9rem;
  right: 0;
}
header li {
  float: left;
}
header a {
  color: #858585;
  padding: 1rem 5.5rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
header a:hover {
  color: #ffb4c0;
}
header > .btn_menu {
  /* outline: 1px solid red; */
  display: none;
  position: absolute;
  right: 2rem;
  top: 1.3rem;
  width: 3.4rem;
  height: 3.4rem;
  cursor: pointer;
}
.hamburger {
  height: 4px;
  width: 3rem;
  background: #858585;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: .5s;
}
.hamburger::before,
.hamburger::after {
  content: '';
  height: 4px;
  width: 3rem;
  position: absolute;
  background: #858585;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: .5s;
}
.hamburger::before {
  top: -10px;
}
.hamburger::after {
  top: 10px;
}
.btn_menu.active .hamburger{
  background-color:rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.btn_menu.active .hamburger::before{
  top:0;
  transform: rotate(45deg);
}
.btn_menu.active .hamburger::after{
  top:0;
  transform: rotate(135deg);
}

#main_title {
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 0 #ffc0ca;
  -webkit-text-stroke: 2px #ffc0ca;
  letter-spacing: 0.7rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  line-height: 12rem;
}

.scroll_down {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 2rem;
  text-align: center;
  color: #858585;
}
.vertical_line {
  width: 1px;
  height: 5rem;
  border: 1px solid #9e9e9e;
  margin: 0 auto;
}
.icon_mouse {
  width: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  opacity: 0.6;
}
.scroll_down > p {
  color: #858585;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes blink {
  30% { opacity: 0.2;}
  80% { opacity: 1;}
}

.fa-hand-paper {
  /* 🖐 */
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: swing;
}
@keyframes swing {
  20% { transform: rotate(13deg);}
  24% { transform: rotate(-13deg);}
  28% { transform: rotate(13deg);}
  32% { transform: rotate(-13deg);}
  36% { transform: rotate(0deg);}
}
section#aboutme {
  background: #fff;
}
section#works {
  background-image: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
section#aboutme > .content > p {
  padding-bottom: 4rem;
  line-height: 1.8;
}
section#aboutme > .content > p:last-child {
  padding-bottom: 0;
}

section#skills {
  background-image: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
}
section#skills > .content li,
section#contact > .content li{
  padding-bottom: 2rem;
}

.fa-thumbs-up {
  animation-name: baam;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  transform: scale(1.2);
}
@keyframes baam {
  /* 20% { transform: scale(0.8)} */
  10% { transform: scale(0.6);}
  20% { transform: scale(1.2)}
}

.skill_1 {
  margin-bottom: 6rem;
}
.skill_1 > li {
  list-style-type: square;
}
.skill_2 > li {
  list-style-type: circle;
} 

section#works > .title {
  text-align: center;
  padding: 10vh 0;
}

.sort_btns {
  text-align: center;
  padding-bottom: 3rem;
  /* outline: 1px solid red; */
}
section#works button {
  border: none;
  width: 17rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.6rem;
  transition: 0.2s;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}
section#works button:hover,
section#works button.on {
  font-weight: bold;
  font-size: 1.8rem;
}

#works .item_wrap {
  /* outline: 1px solid blue; */
}

#works .item {
  /* background: #eeeeee; */
  font-size: 1.6rem;
  border: 1px solid #fff;
  width: 20vmin;
  height: 20vmin;
  transition: .3s;
}
#works .item:hover {
font-size: 1.8rem;
font-weight: bold;
}
.mobile { background: #F5CEDC;}
.pc {background: #F5F0C1;}
.card { background: #EFDAF4;}
.banner { background: #C1F5C5;}
.responsive { background: #D8CEF5;}
.etc { background: #ddd;}

h1.big_typo {
  color: transparent;
  font-size: 9.6rem;
  -webkit-text-stroke: 2px #5a5a5a;
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  text-shadow: 0 40px 0 #e7e7e7;
  text-align: center;
}

h1.big_typo > span {
  /* color: rgb(122, 122, 122); */
}

.vertical_text {
  transform: rotate(90deg);
  font-size: 3rem;
  color: transparent;
  -webkit-text-stroke: 1px #b9b9b9;
  position: absolute;
}
.vertical_text.one {
  top: 40rem;
  left: 20vw;
}
.vertical_text.two {
  top: 54rem;
  left: 24vw;
}
.vertical_text.three {
  top: 110rem;
  left: 46vw;
}

section#contact {
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffdcd3 85%, #fdb5b7 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffe7dd 100%);

  padding-top: 70rem;
  /* outline: 1px solid red; */
}

section#contact > .title {
  margin-top: 50rem;
  text-align: center;
  font-weight: bold;

 }
section#contact > .content {
  /* outline: 1px solid purple; */
  margin-top: 8rem;
  letter-spacing: 0.1rem;
  width: 350px;
  margin-left: calc((100vw - 350px)/2);
  /* outline: 1px solid red; */
}
section#contact li {
  list-style-type: none;
}
.fa-check {
  padding-right: 1rem;
}

.contact_info {
  text-align: center;
  margin: 22vh 0 20vh 0;
  display: block;
}
.contact_info > p {
  margin-bottom: 2rem;
}
.mailto {
  display: block;
  margin-left: calc((100vw - 54rem)/2);
width: 54rem;
height: 10rem;
line-height: 10rem;
font-size: 4.8rem;
/* outline: 1px solid purple; */
transition: .5s;
}
.mailto {
  position: relative;

}

.mailto svg, .mailto svg rect{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  fill: transparent;
}
.mailto svg rect{
  stroke: #000;
  stroke-width: 6;
  transition: 1.5s;
  stroke-dasharray: 128rem;
  stroke-dashoffset: 128rem;
}
.mailto:hover svg rect{
  stroke-dashoffset: 0;
}
.mailto:hover{
  background-color: #fff;
  transition-delay: 1.3s;
}
.madeby {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2rem;
  font-size: 19px;
}



@keyframes heartbeat {
  0% { transform: scale(1);}
  30% { transform: scale(.9);}
  40% { transform: scale(1.2);}
  60% { transform: scale(.9);}
  70% { transform: scale(1.2);}
  80% { transform: scale(1);}
}
.fa-heart {
  animation-duration: 1.8s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: heartbeat;
  color: rgb(255, 82, 82);
}


@media (min-width: 1200px) {
  /* 데스크탑 일반(가로) */
  .title {
    font-size: 4.6rem;
  }
  #main_title {
    font-size: 10rem;
  }
  section#aboutme {
    /* height: 110vh; */
  }
  section#skills {
    /* height: 100vh; */
  }
  section#aboutme, section#skills {
    padding-top: 20vh;
    padding-bottom: 10vh;  
  }
  section#works {
    padding-bottom: 20vh;
  }
  section#aboutme > .title, section#skills > .title {
    padding-left: 15vw;
    padding-right: 10vw;
    text-align: right;
    float: left;
}
section#skills > .title {
  padding-left: 20vw;
}
section#aboutme > .content {
  margin-top: 3rem;
  width: 35vw;
}
  section#aboutme > .content,
  section#skills > .content {
    display: inline-block;
    padding-bottom: 20vh;
    /* outline: 1px solid red; */
  }

  section#skills > .content {
    margin-left: 5rem;
    margin-top: 3rem;
    width: 32vw;
  }
  #works .item_wrap {
  width: 60%;
  margin-left: 20%;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
/* 태블릿 가로 */
  p, li {
    font-size: 1.6rem;
  }
  header a {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .title {
    font-size: 3.8rem;
  }
  #main_title {
    font-size: 9.4rem;
  }
  section#aboutme {
    height: 120vh;
  }
  section#skills {
    height: 110vh;
  }
  section#aboutme, section#skills {
    padding-top: 20vh;
  }
  section#aboutme > .content {
    margin-top: 3rem;
  }
  section#works {
    padding-bottom: 20vh;
  }

  section#aboutme > .title,
  section#skills > .title {
    padding-left: 7vw;
    padding-right: 13vw;
    text-align: right;
    float: left;
}
  section#aboutme > .content,
  section#skills > .content {
    display: inline-block;
    width: 40vw;
    }
  section#skills > .content {
    margin-left: 5rem;
  }
  .sort_btns {
    padding-bottom: 1.5rem;
  }
  section#works button {
    width: 13rem;
  }


  #works .item_wrap {
    width: 70vw;
    margin-left: 15vw;
    }
  #works .item {
    width: 14vw;
    height: 14vw;
  }
    
  h1.big_typo {
    font-size: 8rem;
  }
  .vertical_text.three {
    top: 115rem;
}

}

@media (min-width: 768px) and (max-width: 991px) {
/* 태블릿 세로 */
#main_title {
  font-size: 12rem;
}
.icon_mouse {
  width: 4rem;
}
.scroll_down > p {
  font-size: 2.2rem;
}
header > .btn_menu {
  display: block;
  position: fixed;
  z-index: 3;
}
header ul {
  position: fixed;
  z-index: 2;
  width: 40vw;
  height: 100vh;
  top: 0;
  right: -40vw;
  background: #fff;
  padding-top: 8rem;
  padding-right: 2rem;
  box-shadow: -6px -6px 12px rgba(0, 0, 0, .08);
  transition: .5s;
}
header ul.active {
  right: 0;
}
header li {
  float: none;
  text-align: right;
  margin-left: 0;
}
header a {
  display: block;
  font-size: 3rem;
  width: 100%;
  padding: 2rem 0;
}
.title {
  font-size: 3.8rem;
}
section#aboutme, section#skills {
  padding: 8vh 4rem 15vh 4rem;
  height: 110vh;
}
section#aboutme > .title,
section#skills > .title {
padding: 0;
}
section#aboutme > .content,
section#skills > .content,
section#contact > .content {
  margin-top: 10vh;
}

section#skills ul,
section#contact ul {
  padding-left: 1.5rem;
}

#works .item_wrap {
  width: 100%
  }
#works .item {
  width: 25vmin;
  height: 25vmin;
}
section#works button {
  width: 15rem;
}
h1.big_typo {
  font-size: 8rem;
  text-shadow: 0 25px 0 #e7e7e7;
}
.vertical_text.three {
  top: 120rem;
  left: 40vw;
}
section#contact >.content {
  width: 36rem;
  margin-left: calc((100vw - 36rem)/2);
}
.contact_info {
  margin-bottom: 15vh;
}
}

@media screen and (max-width: 767px) {
  /* 모바일 세로 */
  p,li {
    font-size: 1.4rem;
  }
  header > .header_title {
    font-size: 1.6rem;
    padding: 2rem 0;
    padding-left: 2rem;
  }

  header > .btn_menu {
    display: block;
    position: fixed;
    z-index: 3;
  }
  header ul {
    position: fixed;
    z-index: 2;
    width: 50vw;
    height: 100vh;
    top: 0;
    right: -50vw;
    background: #fff;
    padding-top: 8rem;
    padding-right: 2rem;
    box-shadow: -6px -6px 12px rgba(0, 0, 0, .08);
    transition: .5s;
  }
  header ul.active {
    right:0;
  }
  header li {
    float: none;
    text-align: right;
    margin-left: 0;
  }
  header a {
    display: block;
    font-size: 3rem;
    width: 100%;
    padding: 2rem 0;
  }
 #main_title {
   font-size: 7rem;
   line-height: 8rem;
  }
  .title {
    font-size: 3rem;
    text-align: center;
  }
  section#aboutme, section#skills {
    padding: 8vh 2rem 15vh 2rem;
  }
  section#aboutme > .title,
  section#skills > .title {
  padding: 0;
  }
  .btn_top {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.4rem;
  right: 1rem;
  bottom: 10vh;
  }

  section#aboutme > .content,
  section#skills > .content,
  section#contact > .content {
    margin-top: 10vh;
  }
  section#skills ul,
  section#contact ul {
    padding-left: 1.5rem;
  }
  section#works button {
    font-size: 1.2rem;
    margin-right: 0;
    width: 18%;
    background: #ececec;
  }
  .sort_btns {
    padding-bottom: 0;
    background: #ececec;
  }
  section#works button:hover,
  section#works button.on {
    font-size: 1.4rem;
  }
  #works .item_wrap {
    width: 100%;
  }
  #works .item {
    border: 1px solid #fff;
    width: 25vmin;
    height: 25vmin;
    font-size: 1.4rem;
  }

  .vertical_text {
    font-size: 2.2rem;
    -webkit-text-stroke: 1px #cfcfcf;
  }
  .vertical_text.three {
    top: 100rem;
    left: 36vw;
  }
  h1.big_typo {
    font-size: 4rem;
    -webkit-text-stroke: 1px #7c7c7c;
    text-shadow: 0 1.5rem 0 #e7e7e7;
    /* padding: 0 1rem; */
  }
  section#contact > .title {
    margin-top: 40rem;
  }
  section#contact > .content {
    /* outline: 1px solid red; */
    width: 30rem;
    margin-left: calc((100vw - 30rem)/2);
  }
  .contact_info > p {
    margin-bottom: 0;
  }
  .mailto {
    font-size: 3rem;
    height: 6rem;
    line-height: 6rem;
  }
  .madeby {
    font-size: 1.4rem;
  }

  
  } 